.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead{
  color: #ffffff;
  background-color: #088103;
  height: 9vh
}

tbody{
  height: 7vh;
  border-bottom: 1px solid #828385;
  background-color: #e6ebea;
}

.button{
  border: 1px solid #088103;
  padding: 10px 1px;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #088103;
  color: #ffffff;
  margin: 25px;
}

.current-page{
  border: 1px solid #088103;
  padding: 10px 1px;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #088103;
  color: #ffffff;
  margin: 25px;
}
